# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = tweekdev
	email = tja.theau54@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[alias]
	wipa = !git add --all && git wip     
	wip = !git commit -m "wip" 
	pushf = !git push --force-with-lease     
	ch = !git checkout     
	br = !git branch --sort=-committerdate     
	pushup = !git pushu 2>&1 | awk '/https/ {print $2}' | xargs xdg-open > /dev/null     
	kill-branches = "!f() { git branch | awk '!/^*|master/ {print $1 }' | xargs git branch ${1--d};}; f"     
	pushu = !git push -u origin `git rev-parse --abbrev-ref HEAD`
	feature-start = !sh -c 'git flow feature start $1 && git flow feature publish $1' -

	feature-checkout = !sh -c 'git flow feature checkout $1' -

	feature-finish = !sh -c 'gh pr merge -s feature/$1 && git flow feature delete -f --noremote $1 && git pull origin develop && git checkout develop' -

	release-start = !sh -c 'git flow release start $1 && git flow release publish $1' -

	release-checkout = !sh -c 'git checkout release/$1 && git pull --rebase origin release/$1' -

	release-finish = !sh -c 'git flow release finish --push --nokeep -n --fetch $1' -

	hotfix-start = !sh -c 'git flow hotfix start $1 && git flow hotfix publish $1 && git commit --allow-empty -m \"[hotfix-v$1] your message here\" && git push && sleep 5 && gh pr create --base main --title hotfix-v$1 --head hotfix/$1 --body \"c cho\"  --draft' -

	hotfix-finish = !sh -c 'gh pr ready hotfix/$1 && git flow hotfix finish -n --nokeep --squash --push --fetch $1' -
[init]
	defaultBranch = master
[core]
	excludesfile = /Users/tweekdev/.gitignore_global
